---
import Layout from '../layouts/Layout.astro';
import InvestigationLayout from '../layouts/Investigation.astro';
import Navbar from '../components/navbar.astro';
---

<Layout>
	<Navbar />
	<InvestigationLayout />
	<main class="investigation-container">
		<div class="investigation-header">
			<h1 class="investigation-title">EXTRAS</h1>
		</div>
		<hr class="investigation-divider" />
		<h2>Every Player should have:</h2>
		<ul>
			<li>Phone + Powerbank</li>
			<li>Drinks and maybe snacks</li>
		</ul>
		<h2>Every team should have:</h2>
		<ul>
			<li>Scissors</li>
			<li>Some extra note papers</li>
		</ul>
	</main>
</Layout>
