---
import Layout from '../layouts/Layout.astro';
import InvestigationLayout from '../layouts/Investigation.astro';
import Navbar from '../components/navbar.astro';
---

<Layout>
	<Navbar />
	<InvestigationLayout />
	<main class="investigation-container">
		<div class="investigation-header">
			<h1 class="investigation-title">EXTRAS</h1>
		</div>
		<hr class="investigation-divider" />
		<h2>Every Player should have:</h2>
		<ul>
			<li>Phone + Powerbank</li>
			<li>Drinks and maybe snacks</li>
		</ul>
		<h2>Every team should have:</h2>
		<ul>
			<li>Scissors</li>
			<li>Some extra note papers</li>
			<li>Pen/Pencil</li>
			<li>Printed map of the area</li>
		</ul>
		<h2>100 Cards list:</h2>
		<div class="card-grid">
			<div class="card-item">
				<button class="card-title">24x Curses</button>
				<div class="card-desc">Insert card description here</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Randomize Question</button>
				<div class="card-desc">Play instead of answering a question. A new unasked question from the same category is chosen, at random, which you answer instead.</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Veto Question</button>
				<div class="card-desc">Play instead of answering a question. No answer is given, and no reward is earned.</div>
			</div>
			<div class="card-item">
				<button class="card-title">2x Duplicate another card</button>
				<div class="card-desc">Play this card as a copy of any other card in your hand. This may be used to duplicate a time bonus at the end of your round.</div>
			</div>
			<div class="card-item">
				<button class="card-title">1x Move</button>
				<div class="card-desc">Discard your hand and send the hiders the location of your transit station. This card grants a <span class="meta-yellow meta-pill">S 10</span> <span class="meta-orange meta-pill">M 20</span> <span class="meta-red meta-pill">L 60</span> minute period to establish a new hiding zone somewhere else on the game map. The seekers are frozen and your hiding timer is paused until this new hiding period has concluded. This card cannot be played during the endgame.</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Discard 1, Draw 2</button>
				<div class="card-desc">Discard one other card from your hand. Then, draw and keep two cards from the hider deck</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Discard 2, Draw 3</button>
				<div class="card-desc">Discard two other cards from your hand. Then, draw and keep three cards from the hider deck</div>
			</div>
			<div class="card-item">
				<button class="card-title">2x Draw 1, Expand 1</button>
				<div class="card-desc">Draw one card from the hider deck. For the rest of the round, you can hold one additional card in your hand.</div>
			</div>
			<div class="card-item">
				<button class="card-title">25x Time bonus 1</button>
				<div class="card-desc"><span class="meta-yellow meta-pill">S 2</span> <span class="meta-orange meta-pill">M 3</span> <span class="meta-red meta-pill">L 5</span> minutes</div>
			</div>
			<div class="card-item">
				<button class="card-title">15x Time bonus 2</button>
				<div class="card-desc"><span class="meta-yellow meta-pill">S 4</span> <span class="meta-orange meta-pill">M 6</span> <span class="meta-red meta-pill">L 10</span> minutes</div>
			</div>
			<div class="card-item">
				<button class="card-title">10x Time bonus 3</button>
				<div class="card-desc"><span class="meta-yellow meta-pill">S 6</span> <span class="meta-orange meta-pill">M 9</span> <span class="meta-red meta-pill">L 15</span> minutes</div>
			</div>
			<div class="card-item">
				<button class="card-title">3x Time bonus 4</button>
				<div class="card-desc"><span class="meta-yellow meta-pill">S 8</span> <span class="meta-orange meta-pill">M 12</span> <span class="meta-red meta-pill">L 20</span> minutes</div>
			</div>
			<div class="card-item">
				<button class="card-title">2x Time bonus 5</button>
				<div class="card-desc"><span class="meta-yellow meta-pill">S 12</span> <span class="meta-orange meta-pill">M 18</span> <span class="meta-red meta-pill">L 30</span> minutes</div>
			</div>
		</div>
		<h2>Expansion Pack 1 list (80):</h2>
		<div class="card-grid">
			<div class="card-item">
				<button class="card-title">50x Curses</button>
				<div class="card-desc">Insert card description here</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Time bonus 6</button>
				<div class="card-desc"><span class="meta-yellow meta-pill">S 20</span> <span class="meta-orange meta-pill">M 36</span> <span class="meta-red meta-pill">L 60</span> minutes</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Time bonus (Percentage) 1</button>
				<div class="card-desc">5%</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Time bonus (Percentage) 2</button>
				<div class="card-desc">10%</div>
			</div>
			<div class="card-item">
				<button class="card-title">4x Discard 3, Draw 4</button>
				<div class="card-desc">Discard three other cards from your hand. Then, draw and keep four cards from the hider deck</div>
			</div>
			<div class="card-item">
				<button class="card-title">2x Draw 2, Expand 2</button>
				<div class="card-desc">Draw two cards from the hider deck. For the rest of the round, you can hold two additional cards in your hand.</div>
			</div>
			<div class="card-item">
				<button class="card-title">2x Discard me</button>
				<div class="card-desc">You can choose to discard this card to pay for the entirety of a curse's casting cost, so long as that card's casting cost involves discarding cards.</div>
			</div>
			<div class="card-item">
				<button class="card-title">5x Nothing</button>
				<div class="card-desc">This card does nothing. It cannot be played or used to pay for another card's casting cost.</div>
			</div>
			<div class="card-item">
				<button class="card-title">5x Time trap</button>
				<div class="card-desc">Place this card on any transit station and inform the seekers of its location. Every <span class="meta-yellow meta-pill">S 15</span> <span class="meta-orange meta-pill">M 30</span> <span class="meta-red meta-pill">L 60</span> minutes, increase this card's value by <span class="meta-yellow meta-pill">S 15</span> <span class="meta-orange meta-pill">M 30</span> <span class="meta-red meta-pill">L 60</span> minutes. If the seekers ever visit or pass through the trapped station, remove this card and add its value to your hiding time.</div>
			</div>
		</div>
	</main>
</Layout>
