---
import Layout from '../layouts/Layout.astro';
import InvestigationLayout from '../layouts/Investigation.astro';
import Navbar from '../components/navbar.astro';
---

<Layout>
	<Navbar />
	<InvestigationLayout />
	<main class="investigation-container">
		<div class="investigation-header">
			<h1 class="investigation-title">RULES</h1>
		</div>
		<hr class="investigation-divider" />
	</main>

</Layout>
